body {background-color: #FAD4FF;}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.titulo {
    background-color: #7A02BA;
    color: #FFBF00;
    padding: 3px;
    border-radius: 5px;
    font-family: sans-serif;
}

.imagem {
    width: 800px;
    height: 540px;
    border-radius: 4px;
    border: 2px solid #7A02BA;
}