body {background-color: #FAD4FF;}

.main {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    height: 500px;
    margin-top: 80px;
    justify-self: center;
    align-self: center;
    align-items: center;
    padding-top: 10px;
    background-color: #B775DC;
    border-radius: 5px;
}

.logo {
    margin-top: 30px;
    width: 175px;
    height: 140px;
}

.input {
    width: 200px;
    height: 20px;
    margin-top: 10px;
    border-radius: 6px;
}

.input:hover {
    background-color: rgb(207, 207, 207);
}

#fun {
    margin: 20px;
    text-decoration: none;
    color: #7A02BA;
}

#fun:hover {
    color: #842bb4;
}

button {
    background-color: #72249c;
    color: #B775DC;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}
button:hover {
    background-color: #9632cc;
}

#alerta {
    color: #842bb4;
}

.mensagem {
    color: #FAD4FF;
    text-align: center;
    margin: 0px;
    position: static;
}

.direitos {
    color: #842bb4;
    font-size: 20px;
}